/* HouseAssess */

.house-assess-top {
    background-color: #FDE3C1;
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
}

.house-assess-top .special-font-4 {
    color: #AF7528;
    font-size: 17px;
    font-weight: bold;
}

.house-assess-bottom {
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.special-box {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.black-font {
    color: black;
    font-weight: bold;    
}

.essence-tag {
    background-color: #FDE3C1;
    font-size: 14px;
    padding: 5px;
    color: #AF7528;
}

.comment {
    line-height: 25px;
}

.question-icon {
    padding: 4px 4px;
    background-color: #F75402;
    color: white;
    border-radius: 5px 0 5px 0;
} 

.question {
    padding-left: 5px;
    width: 60%;
}

.answer {
    color: grey;
    font-size: 18px;
    margin-left: auto;
}

@media (prefers-color-scheme: dark) {
    .house-assess-top {
        background-color: rgb(22, 22, 26);
    }

    .house-assess-bottom {
        background-color: #2D3F54;
    }

    .essence-tag {
        background-color: #58320D;
    }

    .question-icon {
        background-color: #58320D;
        color: #AF7528;
    }
}