/* Variable */

:root {
  --part-bg-color: white;
  --part-text-color: #343535;
}

/* common */

.part {
  background-color: var(--part-bg-color);
  color: var(--part-text-color);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left--5 {
  margin-left: -5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-0-15 {
  padding: 0 15px;
}

.tag-span {
  background-color: #eeb488;
  border-radius: 5px;
  padding: 10px 7px;
  margin-left: -17px;
}

.link-style {
  color: grey;
  font-size: 16px;
  text-decoration: none;
}

.attr-name {
  font-size: 18px;
  color: grey;
  padding-right: 5px;
}

.attr-value {
  font-size: 18px;
}

.border-right {
  border-right: 1px solid #dbdbdb;
  margin-right: 20px;
}

.float-right {
  float: right;
}

.part-title {
  font-size: 22px;
}

.person-name {
  font-size: 20px;
  font-weight: bold;
}

.person-tag {
  font-size: 14px;
  padding: 2px;
  border: 1px solid grey;
  background-color: #f4f4f4;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overflow-ignore-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-ignore-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.font-size-10 {
  display: inline-block;
  font-size: 22px;
  transform: scale(0.5);
}

.highlight-attr-name {
  color: grey;
  font-size: 16px;
}

.highlight-attr-value {
  color: #f75402;
  font-weight: bolder;
  font-size: 25px;
}

.highlight-font {
  font-weight: bold;
  color: #f75402;
}

.lessen-font {
  color: grey;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.margin-left-auto {
  margin-left: auto;
}



/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --part-bg-color: rgb(22, 22, 26);
    --part-text-color: rgb(249, 249, 249);
  }

  body {
    background-color: rgb(35, 36, 41);
  }
  .person-tag {
  font-size: 14px;
  padding: 2px;
  border: 1px solid grey;
  background-color: #171616;
}
}
