.title-container{
    display: block;
    font-size: 24px;
    margin-block-start: 13.28px;
    margin-block-end: 13.28px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}