/* common */

.part {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left--5 {
    margin-left: -5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-left-5 {
    padding-left: 5px;
}

.tag-span {
    background-color: #EEB488;
    border-radius: 5px;
    padding: 10px 7px;
}

.link-style {
    color: grey;
    font-size: 16px;
    text-decoration: none;
}

.attr-name {
    font-size: 18px;
    color: grey;
    padding-right: 5px;
}

.attr-value {
    font-size: 18px;
}

.border-right {
    border-right: 1px solid #dbdbdb;
}

.float-right {
    float: right;
}

.part-title {
    font-size: 22px;
}

.person-name {
    font-size: 20px;
    font-weight: bold;
}

.person-tag {
    font-size: 14px;
    padding: 2px;
    border: 1px solid grey;
    background-color: #f4f4f4;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overflow-ignore-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow-ignore-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.font-size-10 {
    display: inline-block;
    font-size: 22px;
    transform: scale(0.5);
}

.highlight-attr-name {
    color: grey;
    font-size: 16px;
}

.highlight-attr-value {
    color: #F75402;
    font-weight: bolder;
    font-size: 25px;
}

.highlight-font {
    font-weight: bold;
    color: #F75402;
}

.lessen-font {
    color: grey;
}

.flex-nowrap {
    display: flex;
    white-space: nowrap;
}









