/* HouseData */

.feedback {
  display: flex;
  padding: 10px 7px;
  align-items: center;
  justify-content: flex-end;
}

.feedback-icon {
  display: inline-block;
  padding-right: 5px;
}

.house-title {
  font-size: 28px;
  font-weight: bolder;
}

.publish-institution-icon {
  display: flex;
  align-items: center;
}

.qualification-icon {
  display: flex;
  align-items: center;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fef9f4;
  padding: 10px 10px;
  border-radius: 10px;
}

.subscribe-right {
  border: 1px solid #f75402;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  .subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #443d3d;
    padding: 10px 10px;
    border-color: #fef9f4;
    border-radius: 10px;
  }

  .subscribe-right {
    border: 1px solid #f75402;
    background-color: rgb(21, 20, 20);
    padding: 5px;
    border-radius: 10px;
  }
}
