/* HouseNeighborSource */

.more-source {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    .more-source {
        background-color: rgb(35, 36, 41);
    }
}
